---
import links from 'public/links.json'
import config from 'virtual:config'

import { Comment } from 'astro-pure/advanced'
import { Collapse, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const headings = [
  { depth: 2, slug: 'common-links', text: 'Common Links' },
  { depth: 2, slug: 'special-links', text: 'Special Links' },
  { depth: 2, slug: 'apply-links', text: 'Apply Links' }
]

const { friends } = links
const linksConfig = config.integ.links
---

<PageLayout title='Links' {headings} info='/links'>
  <h2 id='common-links'>Common Links</h2>
  <FriendList list={friends[0]} />
  <Collapse title='Links with Bad Status'>
    <FriendList list={friends[1]} />
  </Collapse>
  <Collapse title='Link History Book'>
    <Timeline events={linksConfig.logbook} />
  </Collapse>
  <h2 id='special-links'>Special Links</h2>
  <FriendList list={friends[2]} />

  <!-- apply-links -->
  <h2 id='apply-links'>Apply Links</h2>
  <p>The info for this site:</p>
  <blockquote
    class='not-prose grid grid-cols-[auto,1fr] gap-x-2 overflow-auto break-words border-s-4 ps-4'
  >
    <span class='text-end'>Name: </span><span>{linksConfig.applyTip.name}</span>
    <span class='text-end'>Desc: </span><span>{linksConfig.applyTip.desc}</span>
    <span class='text-end'>Link: </span><span>{linksConfig.applyTip.url}</span>
    <span class='text-end'>Icon: </span><span>{linksConfig.applyTip.avatar}</span>
  </blockquote>

  <p>
    Leave a message using the template above for application (<a
      href='https://github.com/Charles-Stark/blog-astro-theme-pure/blob/v4.0.1-beta-cs/public/links.json'
      target='_blank'>submitting a PR</a
    > might be faster).
  </p>
  <p>Remember to do these before you apply:</p>
  <ul>
    <li>Add my site to your links page;</li>
    <li>Make sure your site is alive and reachable;</li>
    <li>Make sure content on your site is legal.</li>
  </ul>
  <Comment slot='bottom' />
</PageLayout>
